@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");

/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  color: #ecf0f8;
  background-color: #050316;
  background-image: radial-gradient(rgb(22, 14, 75) 1px, transparent 2px);
  background-size: 50px 50px; /* Size of the grid */
}

.active-link {
  color: #c9696b;
}

@media screen and (max-width: 640px) {
  .list {
    transition: all 0.3s ease-in-out;
    transform: translate(50%, 50%) scale(0);
  }

  .active {
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0) scale(1);
  }

  .nav-btn.close {
    cursor: pointer;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }

  .nav-btn.active {
    cursor: pointer;
    transform: rotate(0);
    transition: 0.3s ease-in-out;
  }
  .tab {
    display: none;
  }
}
