@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");

/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

.divider {
  width: 1px;
  height: 30px;
  margin: 0 20px;
  transform: rotate(180);
}

.full-screen {
  height: calc(100vh - 80px);
}

.img-container {
  width: 250px;
  height: 250px;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
}

.img-container > img {
  width: 100%;
  height: auto;
  margin-top: auto;
  transform: scale(1.25);
}
